<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>E-StoryMap | Home</title>
</head>
<header>
    <div class="title">
        <h1> E-StoryMap </h1>
        <h3> Projet A </h3>
    </div>
    <nav class="menu">
        <img src="img/LOGO USER 150px.png" alt="">
        <ul>
            <li>
                <a href="#">Invités</a>
            </li>
            <li>
                <a href="#">Mes projets</a>
                <ul class="sub-menu">
                    <li><a href="#">Projet A</a></li>
                    <li><a href="#">Projet B</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<body>

    </form>

    <div id="Modeles">
        <div class="box">
            <h2>Flux demander</h2>
            <table>
                <tr th:each="message: ${dictionaire.flux.test}">
                    <td style="color: green;font-size: 20px;" th:text="${message}"></td>

                </tr>
            </table>
            <table>
                <tr th:each="message : ${dictionaire.flux.dico}">
                    <td style="color: red;font-size: 20px;" th:text="${message}"></td>

                </tr>
            </table>

        </div>
        <div class="box">
            <h2>Acteurs</h2>
            <table>

                <tr th:each="message: ${dictionaire.acteur.test}">
                    <td style="color: green;font-size: 20px;" th:text="${message}"></td>

                </tr>
            </table>
            <table>
                <tr th:each="message : ${dictionaire.acteur.dico}">
                    <td style="color: red;font-size: 20px;" th:text="${message}"></td>

                </tr>
            </table>

            </form>
        </div>
        <div class="box">
            <h2>Activités</h2>
            <table>


                <tr th:each="message: ${dictionaire.active.test}">
                    <td style="color: green;font-size: 20px;" th:text="${message}"></td>

                </tr>
            </table>
            <table>
                <tr th:each="message : ${dictionaire.active.dico}">
                    <td style="color: red;font-size: 20px;" th:text="${message}"></td>

                </tr>
            </table>
            </form>
        </div>

    </div>


    </div>
    <form>
        <div class="form-buttons">

            <button type="button" class="prev-button"><a th:href="@{projets}"><span
                        class="textbtn">précédent</span></button>

            <button type="button" class="next-button"><a th:href="@{page3}"> <span
                        class="textbtn">suivant</span></button>

        </div>
    </form>
</body>