<!DOCTYPE html>
<html>
    <head>
    <meta charset="ISO-8859-1">
    <title> Test Hello</title>
    </head>
        <body>
            <p th:text= "'Hello,'+ ${name} + '!' " />
        </body>
</html>
 