<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>E-StoryMap | Home</title>
</head>
<header>
    <div class="title">
        <h1> E-StoryMap </h1>
        <h3> Projet A </h3>
    </div>
    <nav class="menu">
                    <img src="img/LOGO USER 150px.png" alt="">
        <ul>
            <li>
                <a href="#">Invités</a>
            </li>
            <li>
                <a href="#">Mes projets</a>
                <ul class="sub-menu">
                    <li><a href="#">Projet A</a></li>
                    <li><a href="#">Projet B</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<body>

    </form>

    <div id="Modeles">
        <div class="box">
            <h2>MFC</h2>
            <form action = "/mfc" method= "post" enctype = multipart/form-data>
            <label for="fileToUpload"><img class="logo-add" src="img/BUTTON ADD.png" alt=""></label>
            <input type="file" name="file1" id="fileToUpload">
            <p class="sub-text">(Extensions acceptées : .txt, .drawio)</p>
            <input type="submit" name ="Valider">
            <button class = "Btn" type="submit"> Valider </button>
            </form>
        </div>
        <div class="box">
            <h2>BPMN</h2>
            <form action = "/bpmn" method= "post" enctype = multipart/form-data>
            <label for="fileToUpload2"><img class="logo-add" src="img/BUTTON ADD.png" alt=""></label>
            <input type="file" name="file2" id="fileToUpload2">
            <p class="add-text">Ajouter</p><br>
            <p class="sub-text">(Extensions acceptées : .txt, .drawio, .bpmn)</p>
            <input type="submit" name ="Valider">
            <button class = "Btn" type="submit"> Valider </button>
            </form>
        </div>
        <div class="box">
            <h2>MCTA</h2>
            <form action = "/mcta" method= "post" enctype = multipart/form-data>
            <label for="fileToUpload3"><img class="logo-add" src="img/BUTTON ADD.png" alt=""></label>
            <input type="file" name="file3" id="fileToUpload3">
            <p class="add-text">Ajouter</p><br>
            <p class="sub-text">(Extensions acceptées : .txt, .drawio)</p>
            <input type="submit" name ="Valider">
            <button class = "Btn" type="submit"> Valider </button>
            </form>
        </div>

        </div>
    
        
    </div>
    <form>
        <div class = "form-buttons">
            
            <button type="button" class="prev-button"><a th:href="@{projets}"><span class = "textbtn">précédent</span></button>
            
            <button type="button" class="next-button"><a th:href="@{dico}"> <span class = "textbtn">suivant</span></button>
            
        </div>
    </form>
</body>