<!DOCTYPE html>
<html lang="fr">

<head>
    <style>
        Btn.button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>
        E-StoryMap | Bienvenue
    </title>


</head>



<body>
    <h1> E-StoryMap </h1>

    <div id='img'>
        <img src="img/subscribe.png" alt="Enlist" style="width:150px">
    </div>
    <div id='connection/inscription'>

        <div id='co'>
            <h2> se connecter </h2>
            <form action="/connexion" method="post" id="form">
                <label for="login"> Login: </label><br>
                <input type="text" id="login" name="login"><br>
                <label for="mdp"> Mot de passe: </label><br>
                <input type="password" id="mdp" name="mdp"><br>
                <button class="Btn" type="submit"> Valider </button>
                <p th:text="${message}"></p>
            </form>
        </div>
        <div id='sub'>

            <h2>S'inscrire</h2>
            <form action="/creation" method="post" id="form">
                <label for="login"> Login : </label><br>
                <input type="text" id="login" name="login"><br>
                <label for="mail"> Mail : </label><br>
                <input type="text" id="mail" name="mail"><br>
                <label for="mdp"> Mot de passe : </label><br>
                <input type="password" id="mdp" name="mdp"><br>
                <button class="Btn" type="submit"> Valider </button>
                <p th:text="${creation}" style="color: green;font-size: 12px;"></p>
        </div>
        </form>
    </div>
    </div>
</body>


<footer>

</footer>