<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>E-StoryMap | Projets </title>
</head>
<header>
    <div class="title">
        <h1> E-StoryMap </h1>
    </div>
    <nav class="menu">
                    <img src="img/LOGO USER 150px.png" alt="">
        <ul>
            <li>
                <a href="#">Invités</a>
            </li>
            <li>
                <a href="#">Mes projets</a>
                <ul class="sub-menu">
                    <li><a href="#">Projet A</a></li>
                    <li><a href="#">Projet B</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<body>
    <a th:href="@{home}">
<label for="/home"><img class="logo-add" src="img/BUTTON ADD.png" alt=""></label>
<h2> Nouveau projet </h2>
</body>