
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: rgb(223, 223, 223);
}

/* Home.html */

/* Nav Bar */


a{
    text-decoration: none;
    color: #fff;
}
header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;    
}
header .menu{
    align-items: center;
    text-align: center;
}
header ul{
    align-items: center;
    float: right;
    font-size: 2em;
}
header img{
    width: 100px;
    margin: 10px 20px 10px 0;
}
header ul img{
    align-items: center;
    width: 100px;
    cursor: pointer;
}
header ul li a{
    display: block;
    padding: 20px;
    background-color:rgb(109, 70, 216); 
}
header ul img:hover li{
    display: block;
}
header li a:hover {
    background-color: white;
    color:rgb(109, 70, 216); 
}
header li:hover .sub-menu{
    display: block;
}
.sub-menu{
    display: none;
    position: absolute;
    background-color:rgb(109, 70, 216); 
    text-align: center;
    align-items: center;
    font-size: 20px;
}

/* body */

h1 {
    border-style: solid;
    border-color: rgb(88, 88, 88);
    border-radius: 0% 5% 5% 0% / 10% 50% 50% 10%;
    border-width: thin;
    width: 8em;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(146, 146, 146);
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 4vw;
}
h2 {
    color: rgb(65, 65, 65);
    font-family: sans-serif;
    font-weight: bold;
}
h3 {
    border-style: solid;
    border-color: rgb(109, 70, 216);
    border-radius: 0% 15% 15% 0% / 10% 50% 50% 10%;
    border-width: thin;
    width: 7em;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(109, 70, 216);
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 2vw;
}
#Modeles {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 150px;

}
.form-buttons{

    display: flex;
    justify-content: space-between;
}


.prev-button.textbtn,.next-button.textbtn {
    border:none;
    padding:10px 20px;
    text-align: center;
    display:flex;
    margin:4px 2px;
    color: rgb(65, 65, 65);

}
.box {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    border-right: 5px solid grey;
}
.box input {
    display: none;
    visibility: none;
}
.logo-add {
    padding: 10px;
    margin: 10px;
    max-width: 75px;
    cursor: pointer;
}
.sub-text {
    color: grey;
}

/* Index */

/* button */
/* button {
    list-style-type: none;
    text-decoration: none;
    border: none;
    background-color: rgb(223, 223, 223); */
/*     
} */
#connection/inscription {
    float: left;
    display: inline;
    width: 49%;
}
#co {
    margin-left: 150px;
    float: left;
    display: inline;
    width: 49%;
}
#sub {
    margin-right: 150px;
    float: left;
    display: inline;
}